body {
  font: 16px 'Muli', sans-serif;
  padding-top: 30px;
}

h1 {
  font-weight: 100;
}

h3 {
  color: #6a6691;
  padding-top: 20px;
}

h4, a {
  display: block;
  text-align: center;
}

h4 {
  padding-top: 0.5em;
}

a {
  padding-bottom: 15px;
}

header {
  border-bottom: solid #7d97ad;
}

.header__logo {
  float: left;
}

.header_title {
  text-align: right;
}

main {
  padding-top: 15px;
}

.img_responsive {
  width: 100%;
  vertical-align: middle;
  height: auto;
}

footer {
  border-top: 1px solid #7d97ad;
  padding-top: 0.5em;
}

footer > p {
  text-align: center;
}

/* Media queries for font responsiveness  */
@media screen and (max-width: 415px) {
  h1 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  a {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 576px) and (max-width: 990px) {
   h3 {
    font-size: 1.5em;
  }
}
